# Byte-compiled / optimized
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env

# IDE settings
.vscode/
.idea/

# Mac system files
.DS_Store

serviceAccountKey.jsonserviceAccountKey.json
